* {
  box-sizing: border-box;
  font-family: "Titillium Web", sans-serif;
}

body {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  margin: 0;
  background-color: white;
}

header {
  grid-column: 1/13;
}

.title {
  grid-column: 1/13;
}

footer {
  grid-column: 1/13;
}

#error_page_icon {
  grid-column: 6/8;
  color: red;
  margin-top: 20px;
  text-align: center;
}

#error_msg {
  grid-column: 4/10;
  color: #db4b46;
  text-align: center;
}

header {
  display: flex;
  flex-direction: row;
  padding-bottom: 5px;
  justify-content: space-between;
  background-color: #f9fafc;
  width: 100%;
}

#header_left {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  padding: 0;
  margin: 0;
  padding-left: 2vw;
  background-color: #f9fafc;
}
#header_left > li {
  position: relative;
  display: inline-block;
  cursor: pointer;
  margin-right: 3vw;
  padding-top: 2%;
  font-size: 17px;
  text-transform: uppercase;
}
#header_left > li .header_link_icon:link {
  color: black;
}
#header_left > li .header_link_icon:visited {
  color: black;
}
#header_left > li .header_link_icon:hover {
  color: #0b82dc;
}
#header_left > li .header_link_icon:active {
  color: #0b82dc;
}
#header_left > li .header_icon {
  position: absolute;
}
#header_left > li .header_icon:link {
  color: black;
}
#header_left > li .header_icon:visited {
  color: black;
}
#header_left > li .header_icon:hover {
  color: #0b82dc;
}
#header_left > li .header_icon:active {
  color: #0b82dc;
}
#header_left > li .header_word_left {
  margin-left: 28px;
  text-decoration: none;
}
#header_left > li .header_word_left:link {
  color: black;
}
#header_left > li .header_word_left:visited {
  color: black;
}
#header_left > li .header_word_left:hover {
  color: #0b82dc;
}
#header_left > li .header_word_left:active {
  color: #0b82dc;
}
#header_left > li .header_word_right {
  margin-left: 30px;
  text-decoration: none;
}
#header_left > li .header_word_right:link {
  color: black;
}
#header_left > li .header_word_right:visited {
  color: black;
}
#header_left > li .header_word_right:hover {
  color: #0b82dc;
}
#header_left > li .header_word_right:active {
  color: #0b82dc;
}
#header_left > li:last-of-type {
  margin-right: 0;
}
#header_left > li:hover {
  color: #0b82dc;
}
#header_left > li:hover .header_link_icon {
  color: #0b82dc;
}
#header_left > li:hover .header_icon {
  color: #0b82dc;
}
#header_left > li:hover .header_word_left {
  color: #0b82dc;
}
#header_left > li:hover .header_word_right {
  color: #0b82dc;
}
#header_left > li:hover::after {
  transform: scaleX(1);
  transform-origin: top left;
}
#header_left > li:focus-within {
  color: #0b82dc;
}
#header_left > li:focus-within::after {
  transform: scaleX(1);
  transform-origin: top left;
}
#header_left > li::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  top: 0;
  left: 0;
  background-color: #0b82dc;
  transform-origin: top right;
  transition: transform 0.25s ease-out;
}
#header_left > li {
  background-color: #f9fafc;
}
#header_left > li > a {
  background-color: #f9fafc;
}
#header_left > li > a > i {
  background-color: #f9fafc;
}

#header_middle {
  padding-left: 0;
  margin-top: 12px;
  margin-bottom: 0;
  background-color: #f9fafc;
}
#header_middle canvas {
  outline: 2px solid #0b82dc;
  background-color: #f9fafc;
  transition: transform 0.5s ease-in;
}
#header_middle canvas:hover {
  animation: spin 3s infinite linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
#header_right {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  padding: 0;
  margin: 0;
  padding-right: 2vw;
  display: flex;
  justify-content: flex-end;
  background-color: #f9fafc;
}
#header_right > li {
  position: relative;
  display: inline-block;
  cursor: pointer;
  margin-right: 3vw;
  padding-top: 2%;
  font-size: 17px;
  text-transform: uppercase;
}
#header_right > li .header_link_icon:link {
  color: black;
}
#header_right > li .header_link_icon:visited {
  color: black;
}
#header_right > li .header_link_icon:hover {
  color: #0b82dc;
}
#header_right > li .header_link_icon:active {
  color: #0b82dc;
}
#header_right > li .header_icon {
  position: absolute;
}
#header_right > li .header_icon:link {
  color: black;
}
#header_right > li .header_icon:visited {
  color: black;
}
#header_right > li .header_icon:hover {
  color: #0b82dc;
}
#header_right > li .header_icon:active {
  color: #0b82dc;
}
#header_right > li .header_word_left {
  margin-left: 28px;
  text-decoration: none;
}
#header_right > li .header_word_left:link {
  color: black;
}
#header_right > li .header_word_left:visited {
  color: black;
}
#header_right > li .header_word_left:hover {
  color: #0b82dc;
}
#header_right > li .header_word_left:active {
  color: #0b82dc;
}
#header_right > li .header_word_right {
  margin-left: 30px;
  text-decoration: none;
}
#header_right > li .header_word_right:link {
  color: black;
}
#header_right > li .header_word_right:visited {
  color: black;
}
#header_right > li .header_word_right:hover {
  color: #0b82dc;
}
#header_right > li .header_word_right:active {
  color: #0b82dc;
}
#header_right > li:last-of-type {
  margin-right: 0;
}
#header_right > li:hover {
  color: #0b82dc;
}
#header_right > li:hover .header_link_icon {
  color: #0b82dc;
}
#header_right > li:hover .header_icon {
  color: #0b82dc;
}
#header_right > li:hover .header_word_left {
  color: #0b82dc;
}
#header_right > li:hover .header_word_right {
  color: #0b82dc;
}
#header_right > li:hover::after {
  transform: scaleX(1);
  transform-origin: top left;
}
#header_right > li:focus-within {
  color: #0b82dc;
}
#header_right > li:focus-within::after {
  transform: scaleX(1);
  transform-origin: top left;
}
#header_right > li::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  top: 0;
  left: 0;
  background-color: #0b82dc;
  transform-origin: top right;
  transition: transform 0.25s ease-out;
}
#header_right > li {
  background-color: #f9fafc;
}
#header_right > li > a {
  background-color: #f9fafc;
}
#header_right > li > a > i {
  background-color: #f9fafc;
}
#header_right > li #header_dropdown_content {
  list-style-type: none;
  min-width: 5rem;
  transition: all 0.5s ease;
  margin-top: 19px;
  left: 0;
  padding-left: 0;
}
#header_right > li #header_dropdown_content > a {
  float: none;
  clear: both;
  width: 110px;
  padding: 5px 10px 5px 29px;
  background: #f9fafc;
  border: 1px solid #e8e9ed;
  text-decoration: none;
  display: block;
}
#header_right > li #header_dropdown_content > a:link {
  color: black;
}
#header_right > li #header_dropdown_content > a:visited {
  color: black;
}
#header_right > li #header_dropdown_content > a:hover {
  color: #f9fafc;
  background-color: #0b82dc;
}
#header_right > li #header_dropdown_content > a:focus-within {
  color: #f9fafc;
  background-color: #0b82dc;
}
#header_right > li #header_dropdown_content > a:active {
  color: #f9fafc;
  background-color: #0b82dc;
}
#header_right > li #header_dropdown_content > a > li:hover {
  color: #f9fafc;
  background-color: #0b82dc;
}
#header_right > li #header_dropdown_content > a > li:focus-within {
  color: #f9fafc;
  background-color: #0b82dc;
}

.doesnt_show {
  display: none;
}

.show {
  display: block;
  position: absolute;
}

.title {
  text-align: center;
  color: #0b82dc;
}

footer {
  display: flex;
  margin-top: 10px;
  padding-top: 7px;
  justify-content: space-between;
  height: 80px;
  background-color: #f9fafc;
}

#footer_left {
  display: flex;
  flex-direction: row;
  padding-left: 2vw;
  width: 100%;
}
#footer_left #input_icon_footer {
  position: absolute;
  left: 10px;
  width: 24px;
  height: 24px;
  top: 10px;
}
#footer_left #search_input {
  text-indent: 40px;
  margin: 10px 0;
  width: 100%;
  background-color: #e0e2e5;
  text-indent: 40px;
  margin-top: 0px;
  width: 130px;
  background-color: #e0e2e5;
  box-sizing: border-box;
}
#footer_left #search_input:focus {
  outline: none !important;
  border: 2px solid #0b82dc;
  padding: 5px 0;
}
#footer_left #search_input:focus {
  box-sizing: border-box;
  width: 300px;
  transition: width 0.7s cubic-bezier(0.47, 0, 0.75, 0.72);
}
#footer_left #search_input:focus::-webkit-input-placeholder {
  color: #e0e2e5;
}

#footer_middle {
  padding-left: 0;
  margin-top: 22px;
  color: #6c6e70;
  width: 450px;
  text-align: center;
}
#footer_middle > li {
  list-style-type: none;
}

#footer_right {
  padding-left: 0px;
  padding-right: 2vw;
  width: 100%;
  justify-content: flex-end;
  display: flex;
  flex-direction: row;
}
#footer_right > li {
  list-style-type: none;
  padding-right: 15px;
  padding-top: 10px;
}
#footer_right > li > a > i {
  color: #6c6e70;
}
#footer_right > li > a > i:hover {
  color: #0b82dc;
}

.access_switch {
  margin-left: 5px;
  margin-top: 0px;
}
.access_switch > a:link {
  color: black;
}
.access_switch > a:visited {
  color: black;
}
.access_switch > a:hover {
  color: #0b82dc;
}
.access_switch > a:active {
  color: #0b82dc;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  color: #0b82dc;
  margin-left: 0.5vw;
}

input {
  font-size: 1.1em;
  border: 0.5vw solid transparent;
  border-radius: 5px;
}

.input_container {
  position: relative;
}

.input_icon_form {
  position: absolute;
  left: 10px;
  width: 24px;
  height: 24px;
  top: 42px;
  background-color: #f9fafc;
}

.acct_input {
  text-indent: 40px;
  margin: 10px 0;
  width: 100%;
  background-color: #f9fafc;
}
.acct_input:focus {
  outline: none !important;
  border: 2px solid #0b82dc;
  padding: 5px 0;
}

.invalid {
  outline: none;
  border: 2px solid red;
  padding: 5px 0;
}

.acct_form_info {
  text-indent: 5px;
  margin-top: 0;
  color: #727475;
  font-style: italic;
}

.comment_invalid {
  text-indent: 5px;
  margin-top: 0;
  color: red;
  font-style: italic;
}

.hidden {
  display: none;
}

input[type=checkbox] {
  margin: 1.5vh 0 3vh 0;
}

input[type=submit] {
  background-color: #0b82dc;
  color: #fff;
  display: inline-block;
  cursor: pointer;
  border-radius: 5px;
}

.or_divider_text {
  color: rgba(0, 0, 0, 0.54);
  line-height: 30px;
  text-align: center;
  display: inline-block;
  padding: 8px;
  background: white;
  margin: 0 auto;
  position: relative;
  top: -25px;
}

.acct_section {
  grid-column: 3/11;
}

.social_acct_div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.social_icons {
  display: flex;
  flex-direction: row;
  margin: 0 5px 20px 5px;
  border-radius: 5px;
  border: 1px solid #bcc0c6;
  box-shadow: #bcc0c6 0px 1px 2px;
}
.social_icons:hover {
  cursor: pointer;
}
.social_icons div {
  height: 40px;
}
.social_icons div a {
  text-decoration: none;
}

#btn_kakaotalk > .social_icons_left {
  border-radius: 5px 0 0 5px;
  border-right: 1px solid #bcc0c6;
  background-color: #ffe812;
}
#btn_kakaotalk > .social_icons_left img {
  width: 40px;
  padding-top: 4px;
  padding-left: 4px;
  color: white;
}
#btn_kakaotalk > .social_icons_right {
  border-radius: 0 5px 5px 0;
  width: 27vw;
  background-color: #ffe812;
}
#btn_kakaotalk > .social_icons_right p {
  padding: 7px 0 7px 20px;
  margin: 0;
  color: white;
  vertical-align: middle;
}
#btn_kakaotalk > .social_icons_right p {
  color: black;
}
#btn_kakaotalk > .social_icons_right:hover {
  background-color: #f9e209;
}

#btn_facebook > .social_icons_left {
  border-radius: 5px 0 0 5px;
  border-right: 1px solid #bcc0c6;
  background-color: #3b5998;
}
#btn_facebook > .social_icons_left i {
  width: 40px;
  padding-top: 4px;
  padding-left: 5px;
  color: white;
}
#btn_facebook > .social_icons_left > i {
  padding-left: 6px;
}
#btn_facebook > .social_icons_right {
  border-radius: 0 5px 5px 0;
  width: 27vw;
  background-color: #3b5998;
}
#btn_facebook > .social_icons_right p {
  padding: 7px 0 7px 20px;
  margin: 0;
  color: white;
  vertical-align: middle;
}
#btn_facebook > .social_icons_right:hover {
  background-color: #324b81;
}

#btn_github > .social_icons_left {
  border-radius: 5px 0 0 5px;
  border-right: 1px solid #bcc0c6;
  background-color: #24292e;
}
#btn_github > .social_icons_left i {
  width: 40px;
  padding-top: 4px;
  padding-left: 5px;
  color: white;
}
#btn_github > .social_icons_right {
  border-radius: 0 5px 5px 0;
  width: 27vw;
  background-color: #24292e;
}
#btn_github > .social_icons_right p {
  padding: 7px 0 7px 20px;
  margin: 0;
  color: white;
  vertical-align: middle;
}
#btn_github > .social_icons_right:hover {
  background-color: #000000;
}

#btn_google > .social_icons_left {
  border-radius: 5px 0 0 5px;
  border-right: 1px solid #bcc0c6;
  background-color: #DB4437;
}
#btn_google > .social_icons_left i {
  width: 40px;
  padding-top: 4px;
  padding-left: 5px;
  color: white;
}
#btn_google > .social_icons_right {
  border-radius: 0 5px 5px 0;
  width: 27vw;
  background-color: #DB4437;
}
#btn_google > .social_icons_right p {
  padding: 7px 0 7px 20px;
  margin: 0;
  color: white;
  vertical-align: middle;
}
#btn_google > .social_icons_right:hover {
  background-color: #cc2d20;
}

#btn_twitter > .social_icons_left {
  border-radius: 5px 0 0 5px;
  border-right: 1px solid #bcc0c6;
  background-color: #38A1F3;
}
#btn_twitter > .social_icons_left i {
  width: 40px;
  padding-top: 4px;
  padding-left: 5px;
  color: white;
}
#btn_twitter > .social_icons_right {
  border-radius: 0 5px 5px 0;
  width: 27vw;
  background-color: #38A1F3;
}
#btn_twitter > .social_icons_right p {
  padding: 7px 0 7px 20px;
  margin: 0;
  color: white;
  vertical-align: middle;
}
#btn_twitter > .social_icons_right:hover {
  background-color: #0d80d9;
}

#btn_whatsapp > .social_icons_left {
  border-radius: 5px 0 0 5px;
  border-right: 1px solid #bcc0c6;
  background-color: #25D366;
}
#btn_whatsapp > .social_icons_left i {
  width: 40px;
  padding-top: 4px;
  padding-left: 5px;
  color: white;
}
#btn_whatsapp > .social_icons_right {
  border-radius: 0 5px 5px 0;
  width: 27vw;
  background-color: #25D366;
}
#btn_whatsapp > .social_icons_right p {
  padding: 7px 0 7px 20px;
  margin: 0;
  color: white;
  vertical-align: middle;
}
#btn_whatsapp > .social_icons_right:hover {
  background-color: #22c35d;
}

#signup_form input {
  margin-bottom: 5px;
}

#or_divider_signup {
  margin-top: 18px;
  text-align: center;
  border-top: 1px solid black;
  height: 24px;
}

.input_container > span {
  float: right;
}
.input_container a {
  color: #6c6e70;
  text-decoration: none;
}
.input_container i {
  color: #6c6e70;
}

#persist_login_label input {
  margin-right: 5px;
}

#or_divider_login {
  margin-top: 37px;
  text-align: center;
  border-top: 1px solid black;
  height: 37px;
}

#acct_btn {
  color: orangered;
  border: 1px solid orangered;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  font-size: 15px;
  border-radius: 5px;
  margin: 0 auto;
}
#acct_btn a {
  text-decoration: none;
  margin-left: 3px;
}
#acct_btn a:link {
  color: black;
}
#acct_btn a:visited {
  color: black;
}
#acct_btn a:hover {
  color: orangered;
}
#acct_btn a:active {
  color: orangered;
}

/*# sourceMappingURL=style.css.map */
