* {
  box-sizing: border-box;
  font-family: "Titillium Web", sans-serif;
}

body {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  margin: 0;
  background-color: white;
}

header {
  grid-column: 1/13;
}

.title {
  grid-column: 1/13;
}

footer {
  grid-column: 1/13;
}

#error_page_icon {
  grid-column: 6/8;
  color: red;
  margin-top: 20px;
  text-align: center;
}

#error_msg {
  grid-column: 4/10;
  color: #db4b46;
  text-align: center;
}

header {
  display: flex;
  flex-direction: row;
  padding-bottom: 5px;
  justify-content: space-between;
  background-color: #f9fafc;
  width: 100%;
}

#header_left {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  padding: 0;
  margin: 0;
  padding-left: 2vw;
  background-color: #f9fafc;
}
#header_left > li {
  position: relative;
  display: inline-block;
  cursor: pointer;
  margin-right: 3vw;
  padding-top: 2%;
  font-size: 1.2em;
  text-transform: uppercase;
}
#header_left > li > i {
  position: absolute;
  top: 14px;
}
#header_left > li > a {
  text-decoration: none;
  margin-left: 30px;
}
#header_left > li > a:link {
  color: black;
}
#header_left > li > a:visited {
  color: black;
}
#header_left > li > a:hover {
  color: #0b80dc;
}
#header_left > li > a:active {
  color: #0b80dc;
}
#header_left > li:last-of-type {
  margin-right: 0;
}
#header_left > li:hover {
  color: #0b80dc;
}
#header_left > li:hover::after {
  transform: scaleX(1);
  transform-origin: top left;
}
#header_left > li:focus-within {
  color: #0b80dc;
}
#header_left > li:focus-within::after {
  transform: scaleX(1);
  transform-origin: top left;
}
#header_left > li::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  top: 0;
  left: 0;
  background-color: #0b80dc;
  transform-origin: top right;
  transition: transform 0.25s ease-out;
}
#header_left > li {
  background-color: #f9fafc;
}
#header_left > li > i {
  background-color: #f9fafc;
}
#header_left > li > a {
  background-color: #f9fafc;
}

#header_middle {
  padding-left: 0;
  margin-bottom: 0;
  background-color: #f9fafc;
}
#header_middle > a {
  background-color: #f9fafc;
}
#header_middle > a > img {
  width: 50px;
  height: 50px;
  background-color: #f9fafc;
  transition: transform 0.5s ease-in;
}
#header_middle > a > img:hover {
  transform: scale(1.3);
}

#header_right {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  padding: 0;
  margin: 0;
  padding-right: 2vw;
  display: flex;
  justify-content: flex-end;
  background-color: #f9fafc;
}
#header_right > li {
  position: relative;
  display: inline-block;
  cursor: pointer;
  margin-right: 3vw;
  padding-top: 2%;
  font-size: 1.2em;
  text-transform: uppercase;
}
#header_right > li > i {
  position: absolute;
  top: 14px;
}
#header_right > li > a {
  text-decoration: none;
  margin-left: 30px;
}
#header_right > li > a:link {
  color: black;
}
#header_right > li > a:visited {
  color: black;
}
#header_right > li > a:hover {
  color: #0b80dc;
}
#header_right > li > a:active {
  color: #0b80dc;
}
#header_right > li:last-of-type {
  margin-right: 0;
}
#header_right > li:hover {
  color: #0b80dc;
}
#header_right > li:hover::after {
  transform: scaleX(1);
  transform-origin: top left;
}
#header_right > li:focus-within {
  color: #0b80dc;
}
#header_right > li:focus-within::after {
  transform: scaleX(1);
  transform-origin: top left;
}
#header_right > li::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  top: 0;
  left: 0;
  background-color: #0b80dc;
  transform-origin: top right;
  transition: transform 0.25s ease-out;
}
#header_right > li {
  background-color: #f9fafc;
}
#header_right > li > i {
  background-color: #f9fafc;
}
#header_right > li > a {
  background-color: #f9fafc;
}
#header_right > li #header_dropdown_content {
  list-style-type: none;
  background: red;
  min-width: 5rem;
  display: none;
  z-index: 0;
  position: absolute;
  transition: all 0.5s ease;
  margin-top: 19px;
  left: 0;
  padding-left: 0;
  outline: 1px solid #e8e9ed;
}
#header_right > li #header_dropdown_content > li {
  float: none;
  clear: both;
  width: 120px;
  padding-left: 30px;
  padding-bottom: 5px;
}
#header_right > li #header_dropdown_content > li:first-of-type {
  padding-top: 5px;
}
#header_right > li #header_dropdown_content > li:hover {
  background: #f9fafc;
}
#header_right > li #header_dropdown_content > li:focus-within {
  background: #f9fafc;
}
#header_right > li #header_dropdown_content > li > a {
  text-decoration: none;
}
#header_right > li #header_dropdown_content > li > a:link {
  color: black;
}
#header_right > li #header_dropdown_content > li > a:visited {
  color: black;
}
#header_right > li #header_dropdown_content > li > a:hover {
  color: #0b80dc;
}
#header_right > li #header_dropdown_content > li > a:active {
  color: #0b80dc;
}

.dropdown {
  overflow: hidden;
}

.show {
  display: block;
  z-index: 10;
}

.title {
  text-align: center;
  color: #0b80dc;
}

footer {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  padding-top: 7px;
  justify-content: space-between;
  height: 80px;
  background-color: #f9fafc;
}

#footer_left {
  padding-left: 2vw;
  display: flex;
  flex-direction: row;
}
#footer_left > li {
  list-style-type: none;
  padding-right: 5px;
}
#footer_left > li > a > img {
  width: 35px;
  height: 35px;
}

#footer_middle {
  padding-left: 0;
  margin-bottom: 0;
  font-size: 1.1em;
}
#footer_middle > li {
  list-style-type: none;
}

#footer_right {
  margin-top: 3px;
  padding: 0 20px;
}
#footer_right i {
  position: absolute;
  left: 10px;
  width: 24px;
  height: 24px;
  background-color: #e0e2e5;
}
#footer_right #search {
  text-indent: 40px;
  margin: 10px 0;
  width: 100%;
  background-color: #e0e2e5;
}
#footer_right #search:focus {
  outline: none !important;
  border: 2px solid #0b80dc;
  padding: 5px 0;
}

#input_icon_footer {
  position: absolute;
  left: 10px;
  width: 24px;
  height: 24px;
  top: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  color: #0b80dc;
  margin-left: 0.5vw;
}

input {
  font-size: 1.1em;
  border: 0.5vw solid transparent;
  border-radius: 5px;
}

.input_container {
  position: relative;
}

.input_icon_form {
  position: absolute;
  left: 10px;
  width: 24px;
  height: 24px;
  top: 42px;
  background-color: #f9fafc;
}

.acct_input {
  text-indent: 40px;
  margin: 10px 0;
  width: 100%;
  background-color: #f9fafc;
}
.acct_input:focus {
  outline: none !important;
  border: 2px solid #0b80dc;
  padding: 5px 0;
}

.invalid {
  outline: none;
  border: 2px solid red;
  padding: 5px 0;
}

.acct_form_info {
  text-indent: 5px;
  margin-top: 0;
  color: #727475;
  font-style: italic;
}

.comment_invalid {
  text-indent: 5px;
  margin-top: 0;
  color: red;
  font-style: italic;
}

.hidden {
  display: none;
}

input[type=checkbox] {
  margin: 1.5vh 0 3vh 0;
}

input[type=submit] {
  background-color: #0b80dc;
  color: #fff;
  display: inline-block;
  cursor: pointer;
  border-radius: 5px;
}

.or_divider {
  margin-top: 50px;
  text-align: center;
  border-top: 1px solid black;
}

.or_divider_text {
  color: rgba(0, 0, 0, 0.54);
  line-height: 30px;
  text-align: center;
  display: inline-block;
  padding: 8px;
  background: white;
  margin: 0 auto;
  position: relative;
  top: -25px;
}

.acct_section {
  grid-column: 3/11;
}

.social_acct_div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.social_icons {
  display: flex;
  flex-direction: row;
  margin: 0 5px 20px 5px;
  border-radius: 5px;
  border: 1px solid #bcc0c6;
  box-shadow: #bcc0c6 0px 1px 2px;
}
.social_icons:hover {
  cursor: pointer;
}
.social_icons div {
  height: 40px;
}
.social_icons div a {
  text-decoration: none;
}

#btn_kakaotalk > .social_icons_left {
  border-radius: 5px 0 0 5px;
  border-right: 1px solid #bcc0c6;
  background-color: #ffe812;
}
#btn_kakaotalk > .social_icons_left img {
  width: 40px;
  padding-top: 4px;
  padding-left: 4px;
  color: white;
}
#btn_kakaotalk > .social_icons_right {
  border-radius: 0 5px 5px 0;
  width: 27vw;
  background-color: #ffe812;
}
#btn_kakaotalk > .social_icons_right p {
  padding: 7px 0 7px 20px;
  margin: 0;
  color: white;
  vertical-align: middle;
}
#btn_kakaotalk > .social_icons_right p {
  color: black;
}
#btn_kakaotalk > .social_icons_right:hover {
  background-color: #ffd712;
}

#btn_facebook > .social_icons_left {
  border-radius: 5px 0 0 5px;
  border-right: 1px solid #bcc0c6;
  background-color: #3b5998;
}
#btn_facebook > .social_icons_left i {
  width: 40px;
  padding-top: 4px;
  padding-left: 5px;
  color: white;
}
#btn_facebook > .social_icons_left > i {
  padding-left: 6px;
}
#btn_facebook > .social_icons_right {
  border-radius: 0 5px 5px 0;
  width: 27vw;
  background-color: #3b5998;
}
#btn_facebook > .social_icons_right p {
  padding: 7px 0 7px 20px;
  margin: 0;
  color: white;
  vertical-align: middle;
}
#btn_facebook > .social_icons_right:hover {
  background-color: #1a469e;
}

#btn_github > .social_icons_left {
  border-radius: 5px 0 0 5px;
  border-right: 1px solid #bcc0c6;
  background-color: #24292e;
}
#btn_github > .social_icons_left i {
  width: 40px;
  padding-top: 4px;
  padding-left: 5px;
  color: white;
}
#btn_github > .social_icons_right {
  border-radius: 0 5px 5px 0;
  width: 27vw;
  background-color: #24292e;
}
#btn_github > .social_icons_right p {
  padding: 7px 0 7px 20px;
  margin: 0;
  color: white;
  vertical-align: middle;
}
#btn_github > .social_icons_right:hover {
  background-color: #0a0b0c;
}

#btn_google > .social_icons_left {
  border-radius: 5px 0 0 5px;
  border-right: 1px solid #bcc0c6;
  background-color: #DB4437;
}
#btn_google > .social_icons_left i {
  width: 40px;
  padding-top: 4px;
  padding-left: 5px;
  color: white;
}
#btn_google > .social_icons_right {
  border-radius: 0 5px 5px 0;
  width: 27vw;
  background-color: #DB4437;
}
#btn_google > .social_icons_right p {
  padding: 7px 0 7px 20px;
  margin: 0;
  color: white;
  vertical-align: middle;
}
#btn_google > .social_icons_right:hover {
  background-color: #ff0505;
}

#btn_twitter > .social_icons_left {
  border-radius: 5px 0 0 5px;
  border-right: 1px solid #bcc0c6;
  background-color: #38A1F3;
}
#btn_twitter > .social_icons_left i {
  width: 40px;
  padding-top: 4px;
  padding-left: 5px;
  color: white;
}
#btn_twitter > .social_icons_right {
  border-radius: 0 5px 5px 0;
  width: 27vw;
  background-color: #38A1F3;
}
#btn_twitter > .social_icons_right p {
  padding: 7px 0 7px 20px;
  margin: 0;
  color: white;
  vertical-align: middle;
}
#btn_twitter > .social_icons_right:hover {
  background-color: #0088f2;
}

.input_container > span {
  float: right;
}
.input_container a {
  color: #6c6e70;
  text-decoration: none;
}
.input_container i {
  color: #6c6e70;
}

#persist_login_label input {
  margin-right: 5px;
}

#acct_btn {
  color: orangered;
  border: 1px solid orangered;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  font-size: 15px;
  border-radius: 5px;
  margin: 0 auto;
}
#acct_btn a {
  text-decoration: none;
  margin-left: 3px;
}
#acct_btn a:link {
  color: black;
}
#acct_btn a:visited {
  color: black;
}
#acct_btn a:hover {
  color: orangered;
}
#acct_btn a:active {
  color: orangered;
}

/*# sourceMappingURL=style.css.map */
