@import './4-2_signup.scss';

.input_container{
    >span{
        float: right;
    }

    a{
        color: $darker_gray_line;
        text-decoration: none;
    }
    i{
        color: $darker_gray_line;
    }
}

#persist_login_label{
    input{
        margin-right: 5px;
    }
}

#or_divider_login{
    margin-top: 37px;
    text-align: center;
    border-top: 1px solid black;
    height: 37px;
}