@import './4-3_login.scss';

// // Convert scss file to css file : run "sass --watch 4-4_acct_page.scss:../style.css" in terminal
// // Or, just do "sass 4-4_acct_page.scss ../style.css" 

#acct_btn{
    color: orangered;
    border: 1px solid orangered;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer; 
    font-size: 15px;
    border-radius: 5px;
    margin: 0 auto;

    a{
        text-decoration: none;
        margin-left: 3px;
	
        &:link{
            color: black;
        }
        &:visited{
            color: black;
        }
        &:hover{
            color: orangered;
        }
        &:active{
            color: orangered;
        }
    }
}