// theme colors
$theme_color: #0b80dc;

// background colors
$background_color: white;
$header_and_footer_background: #f9fafc;
$darker_background_color: #e8e9ed;
$search_background: #e0e2e5;

// lines
$gray_line: #bcc0c6;
$darker_gray_line: #6c6e70;

// Focal points

