// https://webinista.com/updates/dont-use-extend-sass/ 

@import './0-3_overall.scss';

header{
    display: flex;
    flex-direction: row;
    padding-bottom: 5px;
    justify-content: space-between;
    background-color: $header_and_footer_background;
    width: 100%;
}

#header_left{
    @include navigation;
    padding-left: 2vw;
    background-color: $header_and_footer_background;
    >li{
        background-color: $header_and_footer_background;
        >a{
            background-color: $header_and_footer_background;
            >i{
                background-color: $header_and_footer_background;
            }
        }
    }
}

#header_middle{
    padding-left: 0;
    margin-top: 12px;
    margin-bottom: 0;
    background-color: $header_and_footer_background;

    canvas{
        outline: 2px solid $theme_color;
        background-color: $header_and_footer_background;
        transition: transform 0.5s ease-in;
        
        &:hover{
            animation: spin 3s infinite linear;
        }
    }
}

@keyframes spin {
	from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

#header_right{
    @include navigation;
    padding-right: 2vw;
    display: flex;
    justify-content: flex-end;

    background-color: $header_and_footer_background;
    >li{
        background-color: $header_and_footer_background;
        a{
            @include nav_link_click;
            text-decoration: none;
            background-color: $header_and_footer_background;
            i{
                background-color: $header_and_footer_background;
            }
        }
        #header_dropdown_content{
            @include submenu_nav;
		}
    }
}

.doesnt_show{
    display: none;
}

.show{
    display: block;
    position: absolute;
}