@import './0-5_body.scss';

// Convert scss file to css file : run "sass --watch 6_footer.scss style.css" in terminal

footer{
    display: flex;
    margin-top: 10px;
    padding-top: 7px;
    justify-content: space-between;
    height: 80px;
    background-color: $header_and_footer_background;
}

#footer_left{
    display: flex;
    flex-direction: row;
    padding-left: 2vw;
    width: 100%;

    #input_icon_footer{
        @include input_icon;
        top: 10px;
    }
    #search_input{
        @include input_type_text;
        background-color: $search_background; 
    
        text-indent: 40px;
        margin-top: 0px;
        width: 130px;
        background-color: #e0e2e5;
        box-sizing: border-box;
    
        &:focus{
            box-sizing: border-box;
            width: 300px;
            transition: width 0.7s cubic-bezier(0.47, 0, 0.75, 0.72);

            &::-webkit-input-placeholder {
                color: #e0e2e5;
            }
        }
    }
}

#footer_middle{
    padding-left: 0;
    margin-top: 22px;
    color: $darker_gray_line;
    width: 450px;
    text-align: center;

    >li{
        list-style-type: none;
    }
}

#footer_right{
    padding-left: 0px;
    padding-right: 2vw;
    width: 100%;
    justify-content: flex-end;
    display: flex;
    flex-direction: row;

    > li{
        list-style-type: none;
        padding-right: 15px;
        padding-top: 10px;

        > a{
            > i{
                color: $darker_gray_line;

                &:hover{
                    color: $theme_color;
                }
            }
        }
    }
}