@import './0-5_body.scss';

// Convert scss file to css file : run "sass --watch 6_footer.scss style.css" in terminal

footer{
    display: grid;
    margin-top: 10px;
    padding-top: 7px;
    justify-content: space-between;
    height: 80px;
    background-color: $header_and_footer_background;
}

#footer_left{
    grid-column:  1/4;
    display: flex;
    flex-direction: row;
    padding-left: 20px;

    > li{
        list-style-type: none;
        padding-right: 15px;
        padding-top: 10px;

        > a{
            > i{
                color: $darker_gray_line;

                &:hover{
                    color: $theme_color;
                }
            }
        }
    }
}

#footer_middle{
    grid-column:  6/8;
    padding-left: 0;
    margin-top: 22px;
    color: $darker_gray_line;

    >li{
        list-style-type: none;
    }
}

#footer_right{
    grid-column:  10/13;
    margin-top: 3px;
    padding: 0 20px;
    i{
        @include input_icon;
        background-color: $search_background; 
    }
    #search{
        @include input_type_text;
        background-color: $search_background; 
    }
}

#input_icon_footer{
    @include input_icon;
    top: 20px;
}